# iverilog default output
a.out

# compiled circuit outputs
*.bin
*.blif
*.bristol

# testing & compilation intermediates
*.elf
*.jsonl
*.trace.txt
*.tv

# clash, haskell output
*.dyn_*
*.hi
*.o
.ghc.*
.stack-work/
dist-newstyle/
verilog/

# nix output
mttn/result
