# iverilog default output
a.out

# compiled circuit outputs
*.blif
*.bin
*.bristol

# testing & compilation intermediates
circuit/test/*.tv

# clash, haskell output
.stack-work/
verilog/
*.dyn_*
*.hi
*.o
dist-newstyle/
.ghc.*
