# iverilog default output
a.out

# compiled circuit outputs
*.bin
tiny86/*.blif
*.bristol
*.circuit
*.public_input
*.private_input

# testing & compilation intermediates
*.elf
*.jsonl
*.trace.txt
*.tv
*.qemu.trace

# clash, haskell output
*.dyn_*
*.hi
*.o
.ghc.*
.stack-work/
dist-newstyle/
verilog/

# nix output
result
mttn/result

# qemu output
*.qemu.trace
*.core
*.log
